<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.calcounter.com.individualproject3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".ParentTest" />
        <activity android:name=".DifSelection" />
        <activity
            android:name=".MediumLevel1"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MediumLevel2"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MediumnLevel3"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".InsaneLevel1"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ParentsReport"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".InsaneLevel2"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".InsaneLevel3"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HardLevel1"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EasyLevel1"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EasyLevel2"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EasyLevel3"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HardLevel2"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HardLevel3"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".ChildScore" />
        <activity android:name=".ChildScoreHard" />
        <activity android:name=".Splash" />
        <activity android:name=".ChildScoreMedium" />
        <activity android:name=".ChildScoreInsane" />
        <activity android:name=".CloudScore"></activity>
    </application>

</manifest>